.card-login-local {
  background: rgba(250, 245, 245, 0.3) !important;
}

.inputan-login {
  background: rgb(71, 69, 69) !important;
}

input.form-control {
  background-color: #b3b3b3;
  color: black !important;
}
input.form-control::placeholder{
  color: black !important;
}
span.input-group-text {
  padding: 5px 7px !important;
  background-color: #b3b3b3;
}