.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #252525;
}

.logo-app {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0px;
}

.menu-item {
  font-size: 18px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  margin: 0px;
}

.flex-container {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.horizontal {
  flex-direction: row;
  background-color: rgba(240, 232, 232, 0.3);
  width: 100%;
  border-radius: 15px;
}

/*these lines*/
.horizontal .flex-item {
  flex: 1;
}
/*ware added*/

.vertical {
  flex-direction: column;
}

.flex-item {
  text-align: center;
}